<div class="row">
    <div class="col">
        <div class="filtersPosition">
            <div class="dropdown" *ngFor="let categoryType of filterCategoriesType$ | async let i=index">
                <a class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="spacingArrow fw-bold"> {{categoryType |titlecase}}</span>
                </a>
                <ul *ngIf="categoryType==='license'" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li *ngFor="let name of licenseCategoryName$ | async">
                        <a class="dropdown-item fw-bold" (click)="selectFilter(name)">
                            {{name | titlecase}}
                        </a>
                    </li>
                </ul>
                <ul *ngIf="categoryType==='deployment'" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li *ngFor="let name of deploymentCategoryName$ | async">
                        <a class="dropdown-item fw-bold" (click)="selectFilter(name)">
                            {{name| titlecase}}
                        </a>
                    </li>
                </ul>
                <ul *ngIf="categoryType==='industry'" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li *ngFor="let name of industryCategoryName$ | async">
                        <a class="dropdown-item fw-bold" (click)="selectFilter(name)">
                            {{name| titlecase}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div *ngFor="let filter of selectedFilteredItems$ | async let i=index" class="chip fw-bold">
            {{filter}}
            <button type="button" class="btn-close closeBtn" aria-label="Close" (click)="removeFilter(filter)"></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="infoPostion">
            <div class="centerPositionVertical"> {{totalItems$ | async}}: Listings
                <span *ngIf="showFilterChips$ |async" class="clearFilters" (click)="clearFilters()">
                    Clear filters
                </span>
            </div>
            <div class="dropdown sorting">
                <a class="btn dropdown-toggle sortingFocus" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fw-bold"> Sort by:
                        <span class=" spacingArrowSort">{{sortedBy | titlecase}}</span>
                    </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li *ngFor="let option of sortedOption">
                        <a class="dropdown-item fw-bold" (click)="changeSorting(option)">{{option |titlecase}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>